################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chess_in_C++/.vs/Chess_in_C++/v16
/SoundBoard/.vs/SoundBoard/v16
